Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.gis.edw.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.gis.edw.com/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://service.gis.edw.com/" schemaLocation="http://localhost:8084/GISService/Service?xsd=1" />
</xsd:schema>
</types>
<message name="getProvinsis">
<part name="parameters" element="tns:getProvinsis" />
</message>
<message name="getProvinsisResponse">
<part name="parameters" element="tns:getProvinsisResponse" />
</message>
<message name="getKabupatens">
<part name="parameters" element="tns:getKabupatens" />
</message>
<message name="getKabupatensResponse">
<part name="parameters" element="tns:getKabupatensResponse" />
</message>
<message name="getKecamatans">
<part name="parameters" element="tns:getKecamatans" />
</message>
<message name="getKecamatansResponse">
<part name="parameters" element="tns:getKecamatansResponse" />
</message>
<portType name="Service">
<operation name="getProvinsis">
<input wsam:Action="http://service.gis.edw.com/Service/getProvinsisRequest" message="tns:getProvinsis" />
<output wsam:Action="http://service.gis.edw.com/Service/getProvinsisResponse" message="tns:getProvinsisResponse" />
</operation>
<operation name="getKabupatens">
<input wsam:Action="http://service.gis.edw.com/Service/getKabupatensRequest" message="tns:getKabupatens" />
<output wsam:Action="http://service.gis.edw.com/Service/getKabupatensResponse" message="tns:getKabupatensResponse" />
</operation>
<operation name="getKecamatans">
<input wsam:Action="http://service.gis.edw.com/Service/getKecamatansRequest" message="tns:getKecamatans" />
<output wsam:Action="http://service.gis.edw.com/Service/getKecamatansResponse" message="tns:getKecamatansResponse" />
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getProvinsis">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKabupatens">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKecamatans">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8084/GISService/Service" />
</port>
</service>
</definitions>